    - name: Remove volumes from Volumeset "{{ volumeset_name }}"
      hpe3par_volumeset: 
        storage_system_ip="{{ storage_system_ip }}"
        storage_system_username="{{ storage_system_username }}"
        storage_system_password="{{ storage_system_password }}"
        state=remove_volumes 
        volumeset_name="{{ volumeset_name }}"
        setmembers="{{ remove_vol_setmembers }}"
     
    - name: Delete Volumeset "{{ volumeset_name }}"
      hpe3par_volumeset: 
        storage_system_ip="{{ storage_system_ip }}"
        storage_system_username="{{ storage_system_username }}"
        storage_system_password="{{ storage_system_password }}"
        state=absent
        volumeset_name="{{ volumeset_name }}"
       
    - name: Delete Volume "{{ volume_name }}"
      hpe3par_volume:
        storage_system_ip="{{ storage_system_ip }}"
        storage_system_username="{{ storage_system_username }}"
        storage_system_password="{{ storage_system_password }}"
        state=absent 
        volume_name="{{ item }}"
      with_items: "{{ ['volume_ansible_1', 'volume_ansible_2', 'volume_ansible_3'] }}"       
        
    - name: Remove hosts from Hostset "{{ hostsetset_name }}"
      hpe3par_hostset: 
        storage_system_ip="{{ storage_system_ip }}"
        storage_system_username="{{ storage_system_username }}"
        storage_system_password="{{ storage_system_password }}"
        state=remove_hosts
        hostset_name="{{ hostset_name }}"
        setmembers="{{ remove_host_setmembers }}"
     
    - name: Delete Hostset "{{ hostset_name }}"
      hpe3par_hostset: 
        storage_system_ip="{{ storage_system_ip }}"
        storage_system_username="{{ storage_system_username }}"
        storage_system_password="{{ storage_system_password }}"
        state=absent
        hostset_name="{{ hostset_name }}"
        
    - name: Delete Host "{{ new_name }}"
      hpe3par_host:
        storage_system_ip="{{ storage_system_ip }}"
        storage_system_username="{{ storage_system_username }}"
        storage_system_password="{{ storage_system_password }}"
        state=absent 
        host_name="{{ item }}"
      with_items: "{{ ['host_ansible_1', 'host_ansible_2', 'host_ansible_3'] }}"