- hosts: localhost
  tasks:
  
    - name: Load Storage System Vars
      include_vars: 'properties/storage_system_properties.yml'
      
    - name: Load Volume Vars
      include_vars: 'properties/volume_properties.yml'
      
    - name: Load Host Vars
      include_vars: 'properties/host_properties.yml'

    - name: Create Volume "{{ volume_name }}"
      hpe3par_volume: 
        storage_system_ip="{{ storage_system_ip }}"
        storage_system_username="{{ storage_system_username }}"
        storage_system_password="{{ storage_system_password }}"
        state=present 
        volume_name="{{ volume_name }}"
        cpg="{{ cpg }}"
        size="{{ size }}"
        snap_cpg="{{ cpg }}"
        
    - name: Create Clone clone_volume_ansible
      hpe3par_online_clone:
        storage_system_ip="{{ storage_system_ip }}"
        storage_system_username="{{ storage_system_username }}"
        storage_system_password="{{ storage_system_password }}"
        state=present
        clone_name="clone_volume_ansible"
        base_volume_name="{{ volume_name }}"
        dest_cpg="{{ cpg }}"
        tpvv=False
        tdvv=False
        compression=False
        snap_cpg="{{ cpg }}"
        
    - name: sleep for 100 seconds and continue with play
      wait_for: 
        timeout=100

    - name: Delete clone "clone_volume_ansible"
      hpe3par_online_clone: 
        storage_system_ip="{{ storage_system_ip }}"
        storage_system_username="{{ storage_system_username }}"
        storage_system_password="{{ storage_system_password }}"
        state=absent 
        clone_name="clone_volume_ansible"
        base_volume_name="{{ volume_name }}"

    - name: Delete clone "clone_volume_ansible"
      hpe3par_volume: 
        storage_system_ip="{{ storage_system_ip }}"
        storage_system_username="{{ storage_system_username }}"
        storage_system_password="{{ storage_system_password }}"
        state=absent 
        volume_name="{{ volume_name }}"